#main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;

  ion-router-outlet {
    flex: 1;
    overflow-y: auto;    /* FIXED: allow scrolling & proper render */
    contain: layout style;
  }

  app-footer {
    flex-shrink: 0;
  }

  .debugging {
    color: red;
  }
}
