#main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  
  app-toolbar {
    flex-shrink: 0;
  }
  
  ion-router-outlet {
    flex: 1;
    overflow: hidden;
    contain: layout style;
  }
  
  app-footer {
    flex-shrink: 0;
  }
}
