ion-list-header {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  
  ion-label {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

ion-item {
  --padding-start: 1rem;
  --inner-padding-end: 1rem;
  
  h2 {
    font-weight: 500;
    margin-bottom: 4px;
  }
  
  p {
    font-size: 0.875rem;
    color: var(--ion-color-medium);
  }
}
