<!-- Header for Page Mode -->
@if (!openedAsModal) {
<ion-header [translucent]="true">
  <app-toolbar title="page.products.title"></app-toolbar>
  <ion-toolbar color="primary" mode="ios">
    <ion-searchbar color="light" show-clear-button="always" (ionInput)="handleInput($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
}

<!-- Header for Modal Mode -->
@if (openedAsModal) {
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Select Product</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary" mode="ios">
    <ion-searchbar color="light" show-clear-button="always" (ionInput)="handleInput($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
}
<ion-content [fullscreen]="true">

  <ion-list>
    @for (result of results(); track result) {
    <ion-item [button]="true" detail="false" lines="full" (click)="updateProduct(result)">
      <ion-icon slot="start" name="cube-outline" class="ion-margin-end"></ion-icon>
      <ion-label class="ion-text-wrap">
        <div class="product-header">
          <strong>{{result.productName}}</strong>
          <div class="badges">
            @if (result.isfavourite) {
            <ion-badge color="danger">
              <ion-icon name="heart"></ion-icon>
            </ion-badge>
            }
            @if (result.isActive) {
            <ion-badge color="success">{{'badge.active' | translate}}</ion-badge>
            } @else {
            <ion-badge color="medium">{{'badge.inactive' | translate}}</ion-badge>
            }
          </div>
        </div>
        @if (result.description) {
        <ion-text color="medium" class="description">{{result.description}}</ion-text>
        }
        <ion-note color="medium" class="ion-text-wrap">
          @if (result?.currentStock != null) {
          {{'common.stock' | translate}}: {{ result.currentStock }}
          }
          @if (result?.currentStock != null && result?.mrp != null) {
          |
          }
          @if (result?.mrp != null) {
          {{'common.mrp' | translate}}: ₹{{ result.mrp }}
          }
        </ion-note>

      </ion-label>
      <ion-button slot="end" shape="round" size="large" fill="clear" (click)="presentActionSheet($event, result)">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-item>
    }
  </ion-list>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addNewProduct()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- <ion-fab *hasPermission="'ia'" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="openModal()" [disabled]="answersLoading">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>