// ion-toolbar {
//     --background: var(--ion-color-primary);
//     --color: var(--ion-color-primary-contrast);
// }
ion-toolbar {
    --background: transparent !important;
    background: transparent !important;
}