ion-item {
  ion-icon[slot="start"] {
    margin-inline-end: 12px;
  }
}

.product-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 4px;

  strong {
    // flex: 1;
    // display: block;
    // max-width: calc(100% - 120px);
    // overflow: hidden;
    // text-overflow: ellipsis;
    white-space: nowrap;
  }

  .badges {
    display: flex;
    align-items: center;
    gap: 8px;

    ion-badge {
      font-size: 0.65rem;
      padding: 3px 6px;
      font-weight: 500;

      ion-icon {
        font-size: 0.75rem;
        vertical-align: middle;
      }
    }
  }
}

.description {
  display: block;
  font-size: 0.85rem;
  margin-bottom: 4px;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.unread-indicator {
  background: var(--ion-color-primary);

  width: 10px;
  height: 10px;

  border-radius: 100%;

  position: absolute;

  inset-inline-start: 12px;
  top: 12px;
}

ion-label strong {
  display: block;

  max-width: calc(100% - 60px);

  overflow: hidden;

  text-overflow: ellipsis;
}

ion-label ion-note {
  font-size: 0.9rem;
}

.dotted-line {
  height: 18px;
  margin-left: 31px;
  border-left: 2px dashed #d6d9e4;
}










.bottom-footer {
  ion-toolbar {
    --background: #ffffff;
    padding: 12px;
  }
}

.action-buttons {
  display: flex;
  gap: 12px;
}

.preview-btn {
  flex: 1;
  height: 48px;
  --border-radius: 14px;
  --border-color: #dcdfe8;
  --color: #1f2a44;
}

.save-btn {
  flex: 2;
  height: 48px;
  --border-radius: 14px;
  --border-color: #4a6cf7;
  --color: #4a6cf7;
  --border-width: 2px;
  font-weight: 600;
}



















