@if (openedAsModal) {
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Select Template</ion-title>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-segment [scrollable]="true">
      <ion-segment-button value="first" content-id="first">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="second" content-id="second">
        <ion-label>Classic</ion-label>
      </ion-segment-button>
      <ion-segment-button value="third" content-id="third">
        <ion-label>Modern</ion-label>
      </ion-segment-button>
    </ion-segment>

  </ion-toolbar>

</ion-header>
}
<ion-content [fullscreen]="true">
  <ion-segment-view>
    <ion-segment-content id="first">
      @if (loading()) {
      <div class="loading">Loading templates...</div>
      } @else if (error()) {
      <div class="error">
        <p>Error loading templates: {{ error() }}</p>
        <button (click)="loadTemplates()" class="retry-btn">Retry</button>
      </div>
      } @else {
      <ion-grid class="ion-padding">
        <ion-row>
          @for (template of templates(); track template.templateId) {
          <ion-col size="4" size-sm="3" size-md="2" size-lg="2">
            <div class="template-card" (click)="selectTemplate(template)">
              <img [src]="template.thumbnailPath" [alt]="template.name" loading="lazy" class="template-thumbnail-img" />
              @if (businessSetting()?.templateId === template.templateId) {
                <ion-icon name="checkmark-circle" class="selected-icon"></ion-icon>
              }
            </div>
          </ion-col>
          }
        </ion-row>
      </ion-grid>
      }
    </ion-segment-content>
    <ion-segment-content id="second">Second</ion-segment-content>
    <ion-segment-content id="third">Third</ion-segment-content>
  </ion-segment-view>










</ion-content>