.send-btn {
  margin: 0 20px;
  --border-radius: 10px;
}

.footer-actions {
  display: flex;
  justify-content: space-around;
  text-align: center;

  p {
    font-size: 12px;
    margin: 0px 0 25px;
  }
}