@if (openedAsModal) {
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Generate Invoice</ion-title>
  </ion-toolbar>
</ion-header>
}
<ion-content [fullscreen]="true">
 <div class="container">
      <header class="toolbar">
        <button class="back-btn">
          ← Back to Templates
        </button>
        
        <div class="template-title">
          @if (currentTemplate()) {
            <h2>{{ currentTemplate()!.name }}</h2>
            <span class="category">{{ currentTemplate()!.category }}</span>
          }
        </div>
        
        <button 
          (click)="downloadPdf()" 
          [disabled]="generating() || loading()"
          class="download-btn">
          @if (generating()) {
            <span>Generating PDF...</span>
          } @else {
            <span>📄 Download PDF</span>
          }
        </button>
      </header>

      @if (loading()) {
        <div class="loading">
          <div class="spinner"></div>
          <p>Loading template...</p>
        </div>
      } @else if (error()) {
        <div class="error">
          <p>{{ error() }}</p>
          <button  class="retry-btn">Back to Templates</button>
        </div>
      } @else {
        <div class="preview-container">
          <div class="preview-wrapper">
            <div #previewContent class="preview-content" [innerHTML]="renderedHtml()"></div>
          </div>
        </div>
      }
    </div>
</ion-content>
