<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div>
      <div align="center" class="logo">
        <div class="ion-text-center ion-margin-vertical lock">
          <!-- <app-svg svgName="vetting-app-icon" [width]="150" [height]="80"></app-svg> -->
          <div class="logo-container">
            <img src="assets/image/app-logo.svg" width="150" height="80" alt="App Logo" />
          </div>
        </div>
      </div>
      <div class="ion-margin">
        <ion-card class="ion-padding my-custom-card">
          @if(form){
          <div>
            <form id="loginForm" [formGroup]="form" (submit)="onSubmit()">

              <div class="ion-margin-bottom">
                <app-input [form]="form" name="email" placeholder="User Id" iconName="person-outline" iconSlot="start"
                  errorText="Please enter your User Id"></app-input>
              </div>
              <app-input [form]="form" name="password" placeholder="Password" iconName="lock-closed-outline"
                iconSlot="start" errorText="Please enter your password" type="password"></app-input>

              <div class="ion-text-right">
                <ion-text><a [routerLink]="['/reset-password']">Forgot Password?</a></ion-text>
              </div>

              <div>
                @if(!isLogin()){
                <ion-button size="large" expand="block" type="submit" [disabled]="formMeta.submitProcessing"
                  class="ion-margin-top ion-padding-top" [strong]="true">
                  <ion-text> Log in</ion-text>
                </ion-button>
                } @else {
                <ion-button size="large" expand="block" [disabled]="formMeta.submitProcessing"
                  class="ion-margin-top ion-padding-top" [strong]="true">
                  <ion-spinner name="crescent"></ion-spinner>
                </ion-button>
                }
              </div>
            </form>
          </div>
          }
        </ion-card>
      </div>
    </div>
</ion-content>