<ion-menu contentId="main-content">
    <ion-header class="ion-no-border">

        <div class="bg"></div>

        <ion-item lines="none">
            <ion-avatar slot="start">
                <img src="assets/images/nk.jpg">
            </ion-avatar>

            <ion-label color="light">
                NITISH KUMAR

                <p>
                    <ion-text color="light">
                        web.nitish.kgmail.com
                    </ion-text>
                </p>
            </ion-label>
        </ion-item>

    </ion-header>
    <ion-content>
        <ion-menu-toggle class="menu-items">
            <ion-item [routerLink]="'/home'" [button]="true" lines="none"
                [ngClass]="{'selected': currentRoute() === '/home'}">
                <ion-icon [name]="currentRoute() === '/home' ? 'home' : 'home-outline'" slot="start"></ion-icon>
                Home
            </ion-item>

            <ion-item [routerLink]="'/dashboard'" [button]="true" lines="none"
                [ngClass]="{'selected': currentRoute() === '/dashboard'}">
                <ion-icon [name]="currentRoute() === '/dashboard' ? 'grid' : 'grid-outline'" slot="start"></ion-icon>
                Dashboard
            </ion-item>

            <ion-item [routerLink]="'/product'" [button]="true" lines="none"
                [ngClass]="{'selected': currentRoute() === '/product'}">
                <ion-icon [name]="currentRoute() === '/product' ? 'cube' : 'cube-outline'" slot="start"></ion-icon>
                Products
            </ion-item>

            <ion-item [routerLink]="'/customer'" [button]="true" lines="none"
                [ngClass]="{'selected': currentRoute() === '/customer'}">
                <ion-icon [name]="currentRoute() === '/customer' ? 'people' : 'people-outline'" slot="start"></ion-icon>
                Customers
            </ion-item>

            <ion-item [routerLink]="'/supplier'" [button]="true" lines="none"
                [ngClass]="{'selected': currentRoute() === '/supplier'}">
                <ion-icon [name]="currentRoute() === '/supplier' ? 'people-circle' : 'people-circle-outline'" slot="start"></ion-icon>
                Suppliers
            </ion-item>

            <ion-item [routerLink]="'/sell'" [button]="true" lines="none"
                [ngClass]="{'selected': currentRoute() === '/sell'}">
                <ion-icon [name]="currentRoute() === '/sell' ? 'cart' : 'cart-outline'" slot="start"></ion-icon>
                Sell
            </ion-item>

            <ion-item [routerLink]="'/settings'" [button]="true" lines="none"
                [ngClass]="{'selected': currentRoute() === '/settings'}">
                <ion-icon [name]="currentRoute() === '/settings' ? 'settings' : 'settings-outline'"
                    slot="start"></ion-icon>
                Settings
            </ion-item>

            <ion-item [button]="true" lines="none" (click)="logout()">
                <ion-icon name="log-out-outline" slot="start"></ion-icon>
                Log Out
            </ion-item>
        </ion-menu-toggle>
    </ion-content>
</ion-menu>