<ion-header [translucent]="true">
  <app-toolbar title="Product"></app-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="ion-margin">
    @if(form){
    <div>
      <form id="productForm" [formGroup]="form" (submit)="onSubmit()">
        <ion-segment mode="ios">
          <ion-segment-button value="first" content-id="first">
            <ion-label>Basic Detail</ion-label>
          </ion-segment-button>
          <ion-segment-button value="second" content-id="second">
            <ion-label>Option Detail</ion-label>
          </ion-segment-button>
        </ion-segment>
        <ion-segment-view>
          <ion-segment-content id="first">
            <div class="ion-margin-bottom ion-margin-top">
              <app-input [form]="form" name="productName" placeholder="Enter name" labelPlacement="floating"
                errorText="Please enter product name" fill="outline" [maxlength]="50" [counter]="true"></app-input>
            </div>

            <div class="ion-margin-bottom">
              <ion-textarea formControlName="description" label="Product Description" labelPlacement="floating"
                fill="outline" placeholder="Enter description" autoGrow="true" [counter]="true"
                maxlength="200"></ion-textarea>
            </div>

            <div class="ion-margin-bottom">
              <app-input [form]="form" name="mrp" placeholder="Enter MRP" labelPlacement="floating" type="number"
                errorText="Please enter MRP" fill="outline"></app-input>
            </div>

            <div class="ion-margin-bottom">
              <app-input [form]="form" name="currentStock" placeholder="Enter Current Stock" labelPlacement="floating"
                type="number" errorText="Please enter Current Stock" fill="outline"></app-input>
            </div>

            <div class="ion-margin-bottom">
              <app-input [form]="form" name="hsnCode" placeholder="HSN" labelPlacement="floating" type="number"
                errorText="Please enter HSN" fill="outline"></app-input>
            </div>

            <div class="ion-margin-bottom">
              <app-select [meta]="unitMeasureMeta" (onSelectionChange)="handleUnitChange($event)" />
            </div>

            <div class="ion-margin-bottom">
              <app-input [form]="form" name="purchaseCost" placeholder="Enter Purchase Cost" labelPlacement="floating"
                type="number" errorText="Please enter Purchase Cost" fill="outline"></app-input>
            </div>


            <div class="ion-display-flex ion-margin-bottom">
              <app-input class="ion-flex-1" [form]="form" name="discountValue" placeholder="Enter Discount"
                labelPlacement="floating" type="number" errorText="Please enter Discount" fill="outline"></app-input>
              <app-select class="ion-flex-1 ion-margin-start" [meta]="discountTypeMeta"
                (onSelectionChange)="handleDiscountTypeChange($event)" />
            </div>

            <div class="ion-display-flex ion-margin-bottom">
              <app-input class="ion-flex-1" [form]="form" name="saleGstRate" placeholder="Enter GST"
                labelPlacement="floating" type="number" errorText="Please enter GST" fill="outline"></app-input>
              <app-select class="ion-flex-1 ion-margin-start" [meta]="saleTaxTypeMeta"
                (onSelectionChange)="handleDiscountTypeChange($event)" />
            </div>

          </ion-segment-content>
          <ion-segment-content id="second">
            <ion-item-divider>
              <ion-label>Sale Pricing </ion-label>
            </ion-item-divider>
            <div class="ion-margin-bottom ion-margin-top">
              <app-input [form]="form" name="saleCessRate" placeholder="Enter CESS" labelPlacement="floating"
                type="number" errorText="Please enter CESS" fill="outline"></app-input>
            </div>

            <div class="ion-display-flex ion-margin-bottom">
              <app-input class="ion-flex-1" [form]="form" name="retailPrice" placeholder="Enter Retail Price"
                labelPlacement="floating" type="number" errorText="Please enter Retail Price"
                fill="outline"></app-input>
              <app-input class="ion-flex-1 ion-margin-start" [form]="form" name="wholesalePrice"
                placeholder="Enter Wholesale Price" labelPlacement="floating" type="number"
                errorText="Please enter Wholesale Price" fill="outline"></app-input>
            </div>

            <ion-item-divider>
              <ion-label>Purchase Pricing</ion-label>
            </ion-item-divider>

            <div class="ion-display-flex ion-margin-bottom ion-margin-top">
              <app-input class="ion-flex-1" [form]="form" name="purchaseCost" placeholder="Enter Purchase Cost"
                labelPlacement="floating" type="number" errorText="Please enter Purchase Cost"
                fill="outline"></app-input>
              <app-select class="ion-flex-1 ion-margin-start" [meta]="purchaseTaxTypeMeta"
                (onSelectionChange)="handleDiscountTypeChange($event)" />
            </div>

            <div class="ion-display-flex ion-margin-bottom">
              <app-input class="ion-flex-1" [form]="form" name="purchaseCessRate" placeholder="Enter Purchase Cess Rate"
                labelPlacement="floating" type="number" errorText="Please enter Purchase Cess Rate"
                fill="outline"></app-input>
              <app-input class="ion-flex-1 ion-margin-start" [form]="form" name="purchaseCessRate"
                placeholder="Enter Purchase Cess Rate" labelPlacement="floating" type="number"
                errorText="Please enter Purchase Cess Rate" fill="outline"></app-input>
            </div>

            <ion-list>
              <ion-item class="ion-no-padding" lines="none">
                <ion-toggle formControlName="isInventory">Manage Stock/Inventory</ion-toggle>
              </ion-item>
              @if(form.value.isInventory){
              <div class="animate__animated animate__slideInUp animate__faster">
                <div class="ion-margin-bottom">
                  <app-input [form]="form" name="currentStock" placeholder="Current Stock" labelPlacement="floating"
                    type="number" errorText="Please enter Current Stock" fill="outline"></app-input>
                </div>
                <div class="ion-display-flex ion-margin-bottom">
                  <app-input class="ion-flex-1" [form]="form" name="minStockLevel"
                    placeholder="Enter Min Stock" labelPlacement="floating" type="number"
                    errorText="Please enter Min Stock" fill="outline"></app-input>
                  <app-input class="ion-flex-1 ion-margin-start" [form]="form" name="maxStockLevel"
                    placeholder="Enter Max Stock" labelPlacement="floating" type="number"
                    errorText="Please enter Max Stock" fill="outline"></app-input>
                </div>
                <div class="ion-display-flex ion-margin-bottom">
                  <app-input class="ion-flex-1" [form]="form" name="barcode" placeholder="Enter Barcode"
                    labelPlacement="floating" type="number" errorText="Please enter Barcode"
                    fill="outline"></app-input>
                  <app-input class="ion-flex-1 ion-margin-start" [form]="form" name="sku"
                    placeholder="Enter SKU" labelPlacement="floating" type="number"
                    errorText="Please enter SKU" fill="outline"></app-input>
                </div>
              </div>
              }
            </ion-list>
          </ion-segment-content>
        </ion-segment-view>
        <button type="submit" style="display: none;" [disabled]="formMeta.submitProcessing"></button>
      </form>
    </div>
    }
  </div>
</ion-content>

<ion-footer class="ion-no-border" [translucent]="true" mode="ios">
  @if(!isProductSave()){
  <ion-tab-bar>
    <ion-tab-button (click)="onSubmit(true)" [disabled]="formMeta.submitProcessing">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Add more</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="onSubmit(false)" [disabled]="formMeta.submitProcessing">
      <ion-icon name="save-outline"></ion-icon>
      <ion-label>Save</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  } @else {
  <!-- <ion-toolbar>
    <ion-button size="large" expand="block" [disabled]="formMeta.submitProcessing" [strong]="true">
      <ion-spinner name="crescent"></ion-spinner>
    </ion-button>
  </ion-toolbar> -->
  <ion-tab-bar>
    <ion-tab-button [disabled]="formMeta.submitProcessing">
      <ion-spinner name="crescent"></ion-spinner>
      <ion-label>Saving..</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  }
</ion-footer>