<ion-header [translucent]="true">
  <app-toolbar title="page.products.title_singular"></app-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="ion-margin">
    @if(form){
    <div>
      <form id="productForm" [formGroup]="form" (submit)="onSubmit()">
        <ion-segment mode="ios" [value]="segment()" (ionChange)="segment.set($any($event).detail.value)">
          <ion-segment-button value="first">
            <ion-label>{{ 'common.basic_detail' | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="second">
            <ion-label>{{ 'common.option_detail' | translate }}</ion-label>
          </ion-segment-button>
        </ion-segment>
        
        @if (segment() === 'first') {
        <div>
            <div class="ion-margin-bottom ion-margin-top">
              <app-input [form]="form" name="productName" label="label.product_name" [placeholder]="'placeholder.enter_product_name'" labelPlacement="floating"
                [errorText]="'error.required'" fill="outline" [maxlength]="50" [counter]="true"></app-input>
            </div>

            <div class="ion-margin-bottom">
              <ion-textarea formControlName="description" [label]="'label.description' | translate" labelPlacement="floating"
                fill="outline" [placeholder]="'placeholder.enter_description' | translate" autoGrow="true" [counter]="true"
                maxlength="200"></ion-textarea>
            </div>

            <div class="ion-margin-bottom">
              <app-input [form]="form" name="mrp" label="label.mrp" [placeholder]="'placeholder.enter_mrp'" labelPlacement="floating" type="number"
                [errorText]="'error.required'" fill="outline"></app-input>
            </div>

            <div class="ion-margin-bottom">
              <app-input [form]="form" name="hsnCode" label="label.hsn_code" [placeholder]="'label.hsn_code'" labelPlacement="floating"
                [errorText]="'error.required'" fill="outline"></app-input>
            </div>

            <div class="ion-margin-bottom">
              <app-select [meta]="unitMeasureMeta" (onSelectionChange)="handleUnitChange($event)" />
            </div>

            <div class="ion-margin-bottom">
              <app-input [form]="form" name="purchaseCost" label="label.purchase_cost" [placeholder]="'placeholder.enter_value'" labelPlacement="floating"
                type="number" [errorText]="'error.required'" fill="outline"></app-input>
            </div>


            <div class="ion-display-flex ion-margin-bottom">
              <app-input class="ion-flex-1" [form]="form" name="discountValue" label="label.discount" [placeholder]="'placeholder.enter_value'"
                labelPlacement="floating" type="number" [errorText]="'error.required'" fill="outline"></app-input>
              <app-select class="ion-flex-1 ion-margin-start" [meta]="discountTypeMeta"
                (onSelectionChange)="handleDiscountTypeChange($event)" />
            </div>

            <div class="ion-display-flex ion-margin-bottom">
              <app-input class="ion-flex-1" [form]="form" name="saleGstRate" label="label.gst" [placeholder]="'placeholder.enter_value'"
                labelPlacement="floating" type="number" [errorText]="'error.required'" fill="outline"></app-input>
              <app-select class="ion-flex-1 ion-margin-start" [meta]="saleTaxTypeMeta"
                (onSelectionChange)="handleDiscountTypeChange($event)" />
            </div>
        </div>
        }

        @if (segment() === 'second') {
        <div>
            <ion-item-divider>
              <ion-label>{{ 'page.products.sale_pricing' | translate }}</ion-label>
            </ion-item-divider>
            <div class="ion-margin-bottom ion-margin-top">
              <app-input [form]="form" name="saleCessRate" label="label.cess" [placeholder]="'placeholder.enter_value'" labelPlacement="floating"
                type="number" [errorText]="'error.required'" fill="outline"></app-input>
            </div>

            <div class="ion-display-flex ion-margin-bottom">
              <app-input class="ion-flex-1" [form]="form" name="retailPrice" label="label.retail_price" [placeholder]="'placeholder.enter_value'"
                labelPlacement="floating" type="number" [errorText]="'error.required'"
                fill="outline"></app-input>
              <app-input class="ion-flex-1 ion-margin-start" [form]="form" name="wholesalePrice" label="label.wholesale_price"
                [placeholder]="'placeholder.enter_value'" labelPlacement="floating" type="number"
                [errorText]="'error.required'" fill="outline"></app-input>
            </div>

            <ion-item-divider>
              <ion-label>{{ 'page.products.purchase_pricing' | translate }}</ion-label>
            </ion-item-divider>

            <div class="ion-display-flex ion-margin-bottom ion-margin-top">
              <app-input class="ion-flex-1" [form]="form" name="purchaseCost" label="label.purchase_cost" [placeholder]="'placeholder.enter_value'"
                labelPlacement="floating" type="number" [errorText]="'error.required'"
                fill="outline"></app-input>
              <app-select class="ion-flex-1 ion-margin-start" [meta]="purchaseTaxTypeMeta"
                (onSelectionChange)="handleDiscountTypeChange($event)" />
            </div>

            <div class="ion-display-flex ion-margin-bottom">
              <app-input class="ion-flex-1" [form]="form" name="purchaseGstRate" label="label.gst" [placeholder]="'placeholder.enter_value'"
                labelPlacement="floating" type="number" [errorText]="'error.required'"
                fill="outline"></app-input>
              <app-input class="ion-flex-1 ion-margin-start" [form]="form" name="purchaseCessRate" label="label.cess"
                [placeholder]="'placeholder.enter_value'" labelPlacement="floating" type="number"
                [errorText]="'error.required'" fill="outline"></app-input>
            </div>

            <ion-list>
              <ion-item class="ion-no-padding" lines="none">
                <ion-toggle formControlName="isInventory">{{ 'page.products.manage_inventory' | translate }}</ion-toggle>
              </ion-item>
              @if(form.value.isInventory){
              <div class="animate__animated animate__slideInUp animate__faster">
                <div class="ion-margin-bottom ion-margin-top">
                  <app-input [form]="form" name="currentStock" label="label.current_stock" [placeholder]="'placeholder.enter_stock'" labelPlacement="floating"
                    type="number" [errorText]="'error.required'" fill="outline"></app-input>
                </div>
                <div class="ion-display-flex ion-margin-bottom">
                  <app-input class="ion-flex-1" [form]="form" name="minStockLevel" label="label.min_stock"
                    [placeholder]="'placeholder.enter_value'" labelPlacement="floating" type="number"
                    [errorText]="'error.required'" fill="outline"></app-input>
                  <app-input class="ion-flex-1 ion-margin-start" [form]="form" name="maxStockLevel" label="label.max_stock"
                    [placeholder]="'placeholder.enter_value'" labelPlacement="floating" type="number"
                    [errorText]="'error.required'" fill="outline"></app-input>
                </div>
                <div class="ion-display-flex ion-margin-bottom">
                  <app-input class="ion-flex-1" [form]="form" name="barcode" label="label.barcode" [placeholder]="'placeholder.enter_value'"
                    labelPlacement="floating" [errorText]="'error.required'"
                    fill="outline"></app-input>
                  <app-input class="ion-flex-1 ion-margin-start" [form]="form" name="sku" label="label.sku"
                    [placeholder]="'placeholder.enter_value'" labelPlacement="floating"
                    [errorText]="'error.required'" fill="outline"></app-input>
                </div>
              </div>
              }
            </ion-list>
        </div>
        }
        
        <button type="submit" style="display: none;" [disabled]="formMeta.submitProcessing"></button>
      </form>
    </div>
    }
  </div>
</ion-content>

<ion-footer class="ion-no-border" [translucent]="true" mode="ios">
  @if(!isProductSave()){
  <ion-tab-bar>
    <ion-tab-button (click)="onSubmit(true)" [disabled]="formMeta.submitProcessing">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>{{ 'button.add_more' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="onSubmit(false)" [disabled]="formMeta.submitProcessing">
      <ion-icon name="save-outline"></ion-icon>
      <ion-label>{{ 'button.save' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  } @else {
  <!-- <ion-toolbar>
    <ion-button size="large" expand="block" [disabled]="formMeta.submitProcessing" [strong]="true">
      <ion-spinner name="crescent"></ion-spinner>
    </ion-button>
  </ion-toolbar> -->
  <ion-tab-bar>
    <ion-tab-button [disabled]="formMeta.submitProcessing">
      <ion-spinner name="crescent"></ion-spinner>
      <ion-label>{{ 'common.saving' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  }
</ion-footer>