<ion-tabs (ionTabsDidChange)="setCurrentTab($event)">
  @if (!hideTabBar()) {
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon [name]="selectedTab() === 'home' ? 'home' : 'home-outline'"></ion-icon>
      <ion-label>{{ 'page.home.title' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="dashboard">
      <ion-icon [name]="selectedTab() === 'dashboard' ? 'grid' : 'grid-outline'"></ion-icon>
      <ion-label>{{ 'menu.dashboard' | translate }}</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="product">
      <ion-icon [name]="selectedTab() === 'product' ? 'cube' : 'cube-outline'"></ion-icon>
      <ion-label>Products</ion-label>
    </ion-tab-button> -->
    <ion-tab-button tab="sell/new">
      <ion-icon [name]="selectedTab() === 'sell/new' ? 'cart' : 'cart-outline'"></ion-icon>
      <ion-label>{{ 'menu.sell' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  }
</ion-tabs>