ion-tabs {
  height: 100%;
  background: #ffffff;
}

ion-tab-bar {
  --background: #ffffff;
  background: #ffffff !important;
  border-top: 1px solid #d7d8da;
  padding-bottom: env(safe-area-inset-bottom);

  ion-tab-button {
    --color: var(--ion-color-medium);
    --color-selected: var(--ion-color-primary);
    font-size: 12px;

    ion-icon {
      font-size: 24px;
    }

    ion-label {
      font-weight: 500;
      margin-top: 4px;
    }

    &.tab-selected {
      ion-icon,
      ion-label {
        font-weight: 600;
      }
    }
  }
}
