<ion-select label="Select Role" label-placement="floating" fill="outline" [(ngModel)]="selectedRole"
  (ionChange)="onRoleChange()">
  <ion-select-option *ngFor="let crewRole of crewRoles" [value]="crewRole.key">
    {{ crewRole.label }}
  </ion-select-option>
</ion-select>
<br>
<ion-select label="Select Area" label-placement="floating" fill="outline" [(ngModel)]="selectedCategory"
  (ionChange)="onTestingChange()">
  <ion-select-option *ngFor="let category of categories" [value]="category.key">
    {{ category.label }}
  </ion-select-option>
</ion-select>