<ion-header [translucent]="true">
  <app-toolbar title="Customer"></app-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="ion-margin">
    @if(form){
    <div>
      <form id="customerForm" [formGroup]="form" (submit)="onSubmit()">
        <ion-segment mode="ios">
          <ion-segment-button value="first" content-id="first">
            <ion-label>Basic Detail</ion-label>
          </ion-segment-button>
          <ion-segment-button value="second" content-id="second">
            <ion-label>Option Detail</ion-label>
          </ion-segment-button>
        </ion-segment>
        <ion-segment-view>
          <ion-segment-content id="first">
            <div class="ion-margin-bottom ion-margin-top">
              <app-input [form]="form" name="customerName" placeholder="Enter name" labelPlacement="floating"
                errorText="Please enter customer name" fill="outline" [maxlength]="50" [counter]="true"></app-input>
            </div>

            <!-- <div class="ion-margin-bottom">
              <ion-textarea formControlName="description" label="Product Description" labelPlacement="floating"
                fill="outline" placeholder="Enter description" autoGrow="true" [counter]="true"
                maxlength="200"></ion-textarea>
            </div> -->

            <div class="ion-margin-bottom">
              <app-input [form]="form" name="gstin" placeholder="Enter GSTIN" labelPlacement="floating"
                errorText="Please enter GSTIN" fill="outline"></app-input>
            </div>

            <div class="ion-margin-bottom">
              <app-input [form]="form" name="phone" placeholder="Enter Number" labelPlacement="floating"
                type="number" errorText="Please enter phone number" fill="outline"></app-input>
            </div>

            <div class="ion-margin-bottom">
              <app-input [form]="form" name="pan" placeholder="PAN" labelPlacement="floating"
                errorText="Please enter pan number" fill="outline"></app-input>
            </div>

            <div class="ion-margin-bottom">
              <app-input [form]="form" name="billingAddress" placeholder="Billing Address" labelPlacement="floating"
                errorText="Please enter billing address" fill="outline"></app-input>
            </div>

            <div class="ion-margin-bottom">
              <app-input [form]="form" name="shippingAddress" placeholder="Shipping Address" labelPlacement="floating"
                errorText="Please enter shipping address" fill="outline"></app-input>
            </div>

            <div class="ion-margin-bottom">
              <app-input [form]="form" name="city" placeholder="city" labelPlacement="floating"
                errorText="Please enter city" fill="outline"></app-input>
            </div>

            <div class="ion-margin-bottom">
              <app-input [form]="form" name="state" placeholder="state" labelPlacement="floating"
                errorText="Please enter state" fill="outline"></app-input>
            </div>

            <div class="ion-margin-bottom">
              <app-input [form]="form" name="pincode" placeholder="pincode" labelPlacement="floating"
                errorText="Please enter Pincode" fill="outline"></app-input>
            </div>

            <div class="ion-margin-bottom">
              <app-input [form]="form" name="country" placeholder="country" labelPlacement="floating"
                errorText="Please enter country" fill="outline"></app-input>
            </div>

            <!-- <div class="ion-display-flex ion-margin-bottom">
              <app-input class="ion-flex-1" [form]="form" name="discountValue" placeholder="Enter Discount"
                labelPlacement="floating" type="number" errorText="Please enter Discount" fill="outline"></app-input>
              <app-select class="ion-flex-1 ion-margin-start" [meta]="discountTypeMeta"
                (onSelectionChange)="handleDiscountTypeChange($event)" />
            </div> -->

          </ion-segment-content>
          <ion-segment-content id="second">
            <ion-item-divider>
              <ion-label>Sale Pricing </ion-label>
            </ion-item-divider>
            <div class="ion-margin-bottom ion-margin-top">
              <app-input [form]="form" name="creditLimit" placeholder="Enter creditLimit" labelPlacement="floating"
                type="number" errorText="Please enter creditLimit" fill="outline"></app-input>
            </div>

            <div class="ion-margin-bottom">
              <app-input [form]="form" name="openingBalance" placeholder="Enter openingBalance" labelPlacement="floating"
                type="number" errorText="Please enter openingBalance" fill="outline"></app-input>
            </div>

            <div class="ion-margin-bottom">
              <app-input [form]="form" name="currentBalance" placeholder="Enter currentBalance" labelPlacement="floating"
                type="number" errorText="Please enter currentBalance" fill="outline"></app-input>
            </div>

            <ion-item-divider>
              <ion-label>Purchase Pricing</ion-label>
            </ion-item-divider>

            <div class="ion-display-flex ion-margin-bottom ion-margin-top">
              <app-select class="ion-flex-1 ion-margin-start" [meta]="customerTypeMeta"
                (onSelectionChange)="handleDiscountTypeChange($event)" />
              <app-select class="ion-flex-1 ion-margin-start" [meta]="priceListMeta"
                (onSelectionChange)="handleDiscountTypeChange($event)" />
            </div>

          </ion-segment-content>
        </ion-segment-view>
        <button type="submit" style="display: none;" [disabled]="formMeta.submitProcessing"></button>
      </form>
    </div>
    }
  </div>
</ion-content>

<ion-footer class="ion-no-border" [translucent]="true" mode="ios">
  @if(!isCustomerSave()){
  <ion-tab-bar>
    <ion-tab-button (click)="onSubmit(true)" [disabled]="formMeta.submitProcessing">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Add more</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="onSubmit(false)" [disabled]="formMeta.submitProcessing">
      <ion-icon name="save-outline"></ion-icon>
      <ion-label>Save</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  } @else {
  <!-- <ion-toolbar>
    <ion-button size="large" expand="block" [disabled]="formMeta.submitProcessing" [strong]="true">
      <ion-spinner name="crescent"></ion-spinner>
    </ion-button>
  </ion-toolbar> -->
  <ion-tab-bar>
    <ion-tab-button [disabled]="formMeta.submitProcessing">
      <ion-spinner name="crescent"></ion-spinner>
      <ion-label>Saving..</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  }
</ion-footer>