

.create-invoice {
  position: fixed;
  bottom: 40px;   // above tab bar
  left: 50%;
  transform: translateX(-50%);

  // --background: #f1d26a;
  // --color: #000;
  // --border-radius: 30px;
  // width: 120px;
  // height: 56px;
  // font-weight: 600;
}

ion-item {
  --background: transparent !important;
  background: transparent !important;
}

ion-content::part(background) {
  background: linear-gradient(180deg, #dff4e8 0%, #f0f8f5 100%);
}

ion-content::part(scroll) {
  color: #fff;
}

ion-card {
  border-radius: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.wallet-card {
  border-radius: 24px;
  padding: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.wallet-balance-box {
  background-color: #fff475;
  border-radius: 20px;
  padding: 20px 0px;
  text-align: center;
}

.wallet-exchange-rate {
  font-size: 12px;
}

.wallet-amount {
  font-size: 36px;
  font-weight: bold;
  margin-top: 5px;
}

