
<ion-header [translucent]="true">
  <app-toolbar [title]="'page.suppliers.title' | translate"></app-toolbar>
  <ion-toolbar color="primary" mode="ios">
    <ion-searchbar color="light" show-clear-button="always" [placeholder]="'placeholder.search' | translate" (ionInput)="handleInput($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-list>
    @for (result of results(); track result) {
    <ion-item [button]="true" detail="false" lines="full" (click)="updateSupplier(result)">
      <ion-icon slot="start" name="person-outline" class="ion-margin-end"></ion-icon>
      <ion-label class="ion-text-wrap">
        <div class="product-header">
          <strong>{{result.supplierName}}</strong>
          <div class="badges">
            <!-- @if (result.isfavourite) {
              <ion-badge color="danger">
                <ion-icon name="heart"></ion-icon>
              </ion-badge>
            } -->
            @if (result.isActive) {
              <ion-badge color="success">{{ 'badge.active' | translate }}</ion-badge>
            } @else {
              <ion-badge color="medium">{{ 'badge.inactive' | translate }}</ion-badge>
            }
          </div>
        </div>
        <!-- @if (result.description) {
          <ion-text color="medium" class="description">{{result.description}}</ion-text>
        } -->
        <ion-note color="medium" class="ion-text-wrap">
          {{ 'label.current_balance' | translate }}: {{result?.currentBalance}} | {{ 'label.opening_balance' | translate }}: ₹{{result.openingBalance}}
        </ion-note>
      </ion-label>
      <ion-button slot="end" shape="round" size="large" fill="clear" (click)="presentActionSheet($event, result)">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-item>
    }
  </ion-list>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button [routerLink]="'./new'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- <ion-fab *hasPermission="'ia'" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="openModal()" [disabled]="answersLoading">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>