<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Etrivia Ledger - SQLite Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SQLite Demo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Welcome to Etrivia Ledger</h1>
    <p>Testing SQLite local storage for web platform</p>
    
    <!-- SQLite Users Component -->
    <app-users></app-users>
  </div>
</ion-content>
