<ion-header [translucent]="true">
  <app-toolbar [title]="'page.suppliers.title_singular' | translate"></app-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="ion-margin">
    @if(form){
    <div>
      <form id="customerForm" [formGroup]="form" (submit)="onSubmit()">
        <ion-segment mode="ios">
          <ion-segment-button value="first" content-id="first">
            <ion-label>{{ 'common.basic_detail' | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="second" content-id="second">
            <ion-label>{{ 'common.option_detail' | translate }}</ion-label>
          </ion-segment-button>
        </ion-segment>
        <ion-segment-view>
          <ion-segment-content id="first">
            <div class="ion-margin-bottom ion-margin-top">
              <app-input [form]="form" name="supplierName" label="label.supplier_name" [placeholder]="'placeholder.enter_supplier_name'"
                [errorText]="'error.required'" labelPlacement="floating" fill="outline" [maxlength]="50" [counter]="true"></app-input>
            </div>

            <div class="ion-margin-bottom">
              <app-input [form]="form" name="gstin" label="label.gstin" [placeholder]="'placeholder.enter_gstin'"
                [errorText]="'error.required'" labelPlacement="floating" fill="outline"></app-input>
            </div>

            <div class="ion-margin-bottom">
              <app-input [form]="form" name="phone" label="label.phone" [placeholder]="'placeholder.enter_phone'"
                [errorText]="'error.required'" labelPlacement="floating" type="number" fill="outline"></app-input>
            </div>

            <div class="ion-margin-bottom">
              <app-input [form]="form" name="pan" label="label.pan" [placeholder]="'placeholder.enter_pan'"
                [errorText]="'error.required'" labelPlacement="floating" fill="outline"></app-input>
            </div>

            <div class="ion-margin-bottom">
              <app-input [form]="form" name="address" label="label.address" [placeholder]="'placeholder.enter_address'"
                [errorText]="'error.required'" labelPlacement="floating" fill="outline"></app-input>
            </div>

            <div class="ion-margin-bottom">
              <app-input [form]="form" name="city" label="label.city" [placeholder]="'placeholder.enter_city'"
                [errorText]="'error.required'" labelPlacement="floating" fill="outline"></app-input>
            </div>

            <div class="ion-margin-bottom">
              <app-input [form]="form" name="state" label="label.state" [placeholder]="'placeholder.enter_state'"
                [errorText]="'error.required'" labelPlacement="floating" fill="outline"></app-input>
            </div>

            <div class="ion-margin-bottom">
              <app-input [form]="form" name="pincode" label="label.pincode" [placeholder]="'placeholder.enter_pincode'"
                [errorText]="'error.required'" labelPlacement="floating" fill="outline"></app-input>
            </div>

            <div class="ion-margin-bottom">
              <app-input [form]="form" name="country" label="label.country" [placeholder]="'placeholder.enter_country'"
                [errorText]="'error.required'" labelPlacement="floating" fill="outline"></app-input>
            </div>

          </ion-segment-content>
          <ion-segment-content id="second">
            <ion-item-divider>
              <ion-label>{{ 'page.suppliers.balancing' | translate }}</ion-label>
            </ion-item-divider>

            <div class="ion-margin-bottom ion-margin-top">
              <app-input [form]="form" name="openingBalance" label="label.opening_balance" [placeholder]="'placeholder.enter_value'"
                [errorText]="'error.required'" labelPlacement="floating" type="number" fill="outline"></app-input>
            </div>

            <div class="ion-margin-bottom">
              <app-input [form]="form" name="currentBalance" label="label.current_balance" [placeholder]="'placeholder.enter_value'"
                [errorText]="'error.required'" labelPlacement="floating" type="number" fill="outline"></app-input>
            </div>

          </ion-segment-content>
        </ion-segment-view>
        <button type="submit" style="display: none;" [disabled]="formMeta.submitProcessing"></button>
      </form>
    </div>
    }
  </div>
</ion-content>

<ion-footer class="ion-no-border" [translucent]="true" mode="ios">
  @if(!isSupplierSave()){
  <ion-tab-bar>
    <ion-tab-button (click)="onSubmit(true)" [disabled]="formMeta.submitProcessing">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>{{ 'button.add_more' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="onSubmit(false)" [disabled]="formMeta.submitProcessing">
      <ion-icon name="save-outline"></ion-icon>
      <ion-label>{{ 'button.save' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  } @else {
  <ion-tab-bar>
    <ion-tab-button [disabled]="formMeta.submitProcessing">
      <ion-spinner name="crescent"></ion-spinner>
      <ion-label>{{ 'common.saving' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  }
</ion-footer>